body { background: #f0f2f5; }

.console-box {
  background: #1e1e2f;
  color: #0f0;
  font-family: monospace;
  height: 300px;
  overflow-y: auto;
  padding: 20px;
  border-radius: 8px;
}
.console-box p {
  margin: 0 0 6px;
}

input[type="checkbox"] {
  accent-color: rgb(235, 21, 188);
}

.container{
    max-height: 100vh;
    min-width: 90vw;
    margin-top: -10px;
}

.card-body {
  padding: 30px 45px;
}
